:root {
    --primary-color: #000000;
    --accent-color: #2e4283;
    --alternate-color: #ffffff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: var(--primary-color);
}

#header-div {
    height: 10vmin;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-div section {
    height: 100%;
}

img#logo {
    overflow: hidden;
    height: 100%;
}

.header-button {
    height: 2em;
    color: var(--alternate-color);
    background-color: var(--accent-color);
    border-radius: 12px;
    border: none;
    padding: 0 0.4em;
    box-sizing: content-box;
    font-size: 2vmin;
    font-weight: 500;
    transition: background-color 0.3s;
}

nav ul li {
    display: inline;
    padding: 0 1em;
}



.container {
    background-color: var(--accent-color);
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 30px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--alternate-color);
}

.Connexion {
    border-radius: 50px;
    padding: 15px;
    border-color: var(--alternate-color);
    background-color: #1251a3;
    color: var(--alternate-color);
    font-weight: bold;
    font-size: large;
}

#Email, #Mdp {
    border-radius: 3px;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

.Message_erreur {
    display: grid;
    align-items: center;
    justify-content: center;
}

.Retour_accueil {
    border-radius: 15px;
    padding: 16px;
    border-color: var(--alternate-color);
    background-color: var(--accent-color);
    color: var(--alternate-color);
    font-weight: bold;
    font-size: large;
}

#Erreur {
    font-size: 50px;
    color: var(--accent-color);
}

.Creation-offre {
    color: var(--accent-color);
    display: flex;
    justify-content: center;
}

.rectangle-gris{
    border-radius: 10px;
    background-color: #efefef;
    flex-direction: row;
    margin-left: 150px;
    margin-right: 150px; 
}

#fleche-retour {
    background-color: var(--alternate-color);
    border: none;
}

i {
   margin-left: 15px;
   font-size: large;
   color: var(--accent-color);
}

.Btn-creation-offre {
    border-radius: 15px;
    padding: 16px;
    border-color: var(--alternate-color);
    background-color: var(--accent-color);
    color: var(--alternate-color);
    font-weight: bold;
    font-size: large;
}

.btn-offre {
    display: flex;
    justify-content: center;
}

.case-gene {
    color:#ff0000;
    border-color: #ff0000;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    width: 65px;
    margin: 5px;
}

.case-gene:active {
    background-color: #ff0000;
    color: var(--alternate-color);
}

.case-info {
    color:#0077ff;
    border-color: #0077ff;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    width: 65px;
    margin: 5px;
}

.case-info:active {
    background-color: #0077ff;
    color: var(--alternate-color);
}

.case-btp {
    color: #ffa500;
    border-color: #ffa500;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    width: 65px;
    margin: 5px;
}

.case-btp:active {
    background-color: #ffa500;
    color: var(--alternate-color);
}

.case-s3e {
    color:#01a701;
    border-color: #01a701;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    width: 65px;
    margin: 5px;
}

.case-s3e:active {
    background-color: #01a701;
    color: var(--alternate-color);
}

.categories {
    display: flex;
}

.ligne1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.colonne1, .colonne2, .colonne3 {
    margin-left: 50px;
    margin-right: 50px;
}

.espace-image {
    padding: 160px;
    margin-top: 10px;
}

.case-titre, .case-nom-ent, .case-localisation, .case-url, .case-competence {
    width: 290px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

.duree-remuneration {
    display: flex;
}

.duree {
    margin-right: 20px;
}

.case-duree, .case-remuneration, .case-place {
    width: 55px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

.case-description {
    width: 98%;
    border-radius: 5px; 
    border-width: 0.5px;
    padding: 10px;
}


.Creation-entreprise {
    color: var(--accent-color);
    display: flex;
    justify-content: center;
}

.carre-gris{
    border-radius: 10px;
    background-color: #efefef;
    flex-direction: row;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Btn-creation-entreprise {
    border-radius: 15px;
    padding: 16px;
    border-color: var(--alternate-color);
    background-color: var(--accent-color);
    color: var(--alternate-color);
    font-weight: bold;
    font-size: large;
}

.btn-entreprise {
    display: flex;
    justify-content: center;
}

.case-nom-ent, .case-localisation, .case-domaine {
    width: 290px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

.colonne1 {
    display: grid;
    justify-content: center;
    align-items: center;
}