# Permet de rediriger les requêtes vers index.php avec une url https://stageureka.alwaysdata.net/index.php?url=nom-controleur/nom-action/param1
RewriteEngine on

# Si le fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
# On réécrit l'url
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Si le fichier existe
RewriteCond %{REQUEST_FILENAME} -f
# Et si le fichier n'est pas du type .png, .jpg, .jpeg, .js, ou .css
RewriteCond %{REQUEST_URI} !\.(png|jpg|jpeg|js|css|ico)$
# On réécrit l'url
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# Redirige les erreurs 404 vers /erreur/404
ErrorDocument 404 /erreur/404

# Interdit l'accès à mdp.php
<Files "mdp.php">
    Order allow,deny
    Deny from all
</Files>
