:root {
    /* Thème clair (remplacé par theme.js) */
    --primary-color: #333333;
    --secondary-color: #cecece;
    --accent-color-1: #2e4283;
    --accent-color-2: #454acc;
    --alternate-color: #ffffff;
    --background-color: #ffffff;
    --background-color-2: #eeeeee;
    
    /* Thème sombre (voir theme.js) */

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--primary-color);
    overflow: hidden;
}

body,
textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    overflow: hidden;
}

#header-div {
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#header-div span {
    width: 20px;
}

#header-logo-div {
    height: 70px;
    padding-left: 10px;
}

img.logo {
    overflow: hidden;
    height: 100%;
}

#header-button-div {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 20px;
}

.header-button {
    color: #ffffff;  /* On veut que le bouton soit toujours blanc */
    background-color: var(--accent-color-2);
    border-radius: 12px;
    border: none;
    padding: 6px 15px;
    box-sizing: content-box;
    font-weight: 500;
    font-size: large;
    text-decoration: none;
}

#div-switch {
    display: flex;
    height: 100%;
    align-items: center;
}

.header-button:hover {
    background-color: var(--accent-color-1);
}

/* Switch */
.switch {
    --circle-dim: 1.4em;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Cacher la checkbox pour changer de thème */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Element qui se déplace horizontalement pour le bouton thème */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    transition: .4s;
    border-radius: 30px;
}

/* Arrière plan switch */
.slider-carte {
    position: absolute;
    content: "";
    height: var(--circle-dim);
    width: var(--circle-dim);
    border-radius: 20px;
    left: 0.3em;
    bottom: 0.3em;
    transition: 0.4s;
    pointer-events: none;
}

/* Conteneur du cercle du switch */
.slider-carte-face {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    perspective: 1000px;
    border-radius: 50%;
    transition: 0.4s transform;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Cercle switch activé */
.slider-carte-gauche {
    background-color: var(--primary-color);
}

/* Cercle switch désactivé */
.slider-carte-droite {
    transform: rotateY(180deg);
    background-color: var(--primary-color);
}

/* Animation cercle du switch activé */
input:checked~.slider-carte .slider-carte-droite {
    transform: rotateY(0);
}

/* Animation cercle du switch désactivé */
input:checked~.slider-carte .slider-carte-gauche {
    transform: rotateY(180deg);
}

/* Déplacement horizontal du cercle du switch */
input:checked~.slider-carte {
    transform: translateX(1.5em);
}

/* Seconde couleur du sxitch */
input:checked~.slider {
    background-color: var(--secondary-color);
}

main {
    position: absolute;
    overflow-y: auto;
    top: 118.59px;
    bottom: 20px;
    left: 0px;
    right: 0px;
}

/* Ecrans larges */
@media (min-width: 2000px) {
    #header-logo-div {
        height: 90px;
    }

    main {
        top: 138.59px;
    }
}

/* Petit écran */
@media (max-width: 600px) and (min-width: 280px) {
    #header-div {
        justify-content: center;
        flex-direction: column;
    }

    #header-logo-div {
        padding-left: 0;
    }
    
    #header-button-div {
        justify-content: center;
        margin: 4px 0;
        padding-right: 0px;
    }
    
    main {
        top: 207.78px;
    }
}

/* Ecran très fin */
@media (max-width: 280px) {
    #header-div {
        justify-content: center;
        flex-direction: column;
    }
    
    #header-logo-div {
        padding-left: 0;
    }

    #header-button-div {
        justify-content: center;
        margin: 4px 0;
        padding-right: 0px;
    }

    main {
        top: 258.88px;
    }
}

nav {
    width: 100%;
}

/* Liste à puce barre de navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
}

/* Elément de liste à puce de la barre de navigation */
nav li {
    width: 20vw;
    text-align: center;
    float: left;
    padding: 0.8em 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    background-color: var(--background-color);
    cursor: pointer;
}

/* Retire les bordures de droite qui sont doublées */
nav li:not(:last-child) {
    border-right: none;
}

nav li:hover {
    background-color: var(--secondary-color);
}

/* Couleur différente pour le bouton de navigation correspondant à la page actuelle */
nav li.nav-selected:not(:hover) {
    background-color: var(--primary-color);
    color: var(--background-color);
}

nav a {
    color: inherit;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
}

/* Ecran peu large (téléphone) */
@media (max-width: 600px) and (min-width: 280px) {
    /* Taille pour avoir 2 lien par ligne dans la barre de navigation */
    nav li {
        width: 50vw;
        padding: 0.3em 0;
        border-bottom: none;
    }

    /* Bordure droite pour les cases de droite */
    nav li:nth-child(even) {
        border-right: 1px solid var(--primary-color);
    }

    /* Taille pour avoir 1 lien dans la dernière ligne de la barre de navigation */
    nav li:last-child {
        width: 100vw;
        border: 1px solid var(--primary-color);
    }
}

/* Ecran extrèmement fin (support plus entièrement assuré si largeur <= 280) */
@media (max-width: 280px) {
    /* Taille pour avoir 1 lien par ligne dans la barre de navigation */
    nav li {
        width: 100vw;
        padding: 0.2em 0;
        border-bottom: none;
    }
    
    /* Bordures de droite */
    nav li:not(:last-child) {
        border-right: 1px solid var(--primary-color);
    }
    
    /* Bordure bas dernière case */
    nav li:last-child {
        border-bottom: 1px solid var(--primary-color);
    }
}

/*** PAGE D'ACCUEIL ***/

#conteneur-accueil {
    display: flex;
    margin: 0 5vw;
    margin-top: 4em;
    padding: 12px;
}

#accueil-images-div {
    display: flex;
    align-items: center;
}

.image-accueil {
    display: block;
    max-width: 30vw;
    max-height: 70vh;
    width: auto;
    height: auto;
}

/* Espace entre image et texte */
#conteneur-accueil span {
    width: max(8vw, 20px);
}

#conteneur-accueil h1 {
    text-align: center;
}

#conteneur-accueil p {
    text-align: justify;
}

#accueil-btn-div {
    display: flex;
    justify-content: center;
}

.conteneur-bouton-principal {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.bouton-principal {
    border-radius: 15px;
    padding: 16px;
    border-style: none;
    background-color: var(--accent-color-1);
    color: white;
    font-weight: bold;
    font-size: large;
    height: 60px;
    margin-top: 15px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
}

/* Retire le souligné et aligne verticalement les boutons principaux qui sont des liens */
a.bouton-principal {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bouton-principal:hover {
    background-color: var(--accent-color-2);
}

.bouton-principal:focus {
    padding: 14px;
    background-color: var(--accent-color-2);
    border: 2px solid var(--primary-color);
}

/*** FOOTER ***/
footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
    width: 100vw;
    padding-top: 2px;
    text-align: center;
    
}

footer a {
    margin: 6px 0;
    color: var(--background-color);
    font-size: medium;
    font-weight: 600;
}

/*** INFOS LEGALES / CONTACT ***/
#conteneur-infos-legales {
    padding: 0 20px;
}

#conteneur-infos-legales h3 {
    font-size: 1.6em;
}

#conteneur-infos-legales a {
    color: var(--primary-color);
    font-weight: 600;
}

/*** ERREUR ***/
.message-erreur {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message-erreur span {
    height: 80px;
}

/* Diminue la taille de l'espace après le nom de l'erreur s'il y a une description */
.message-erreur:has(.description-erreur) span {
    height: 0px;
}

#erreur {
    font-size: 50px;
    color: var(--accent-color);
}

.description-erreur {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 40px;
}

/*** CONNEXION ***/
main:has(.conteneur-connexion) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 50px;
}

.conteneur-connexion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: var(--accent-color-1);
    color: var(--alternate-color);
    min-width: max-content;
    width: 30vw;
    padding: 10px 20px 35px 20px;
}

.conteneur-connexion h1 {
    font-size: 50px;
}

#email, .case-mdp {
    margin-top: 4px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    width: 30ch;
}

/* Mot de passe */
#groupe-mdp i {
    float: right;
    transform: translateY(-275%);
    color: var(--primary-color);
    margin-right: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Bouton submit connexion */
.btn-connexion {
    border-radius: 15px;
    padding: 12px;
    border: none;
    background-color: var(--accent-color-2);
    color: var(--alternate-color);
    font-weight: bold;
    font-size: large;
    box-sizing: border-box;
    margin-top: 20px;
    width: 100%;
}

/*** CREATION ENTREPRISE ***/
#fleche-retour {
    background-color: unset;
    border: none;
    position: absolute;
    left: 10px;
    top: 16px;
    z-index: 99;
    color: var(--primary-color);
    cursor: pointer;
}

.conteneur-entreprise {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur-entreprise .rectangle-gris {
    padding: 15px 50px 20px 50px;
}

.conteneur-entreprise h1 {
    color: var(--accent-color-1);
}

/* Input de longueur standard */
.case-standard {
    width: 290px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

select.case-standard {
    width: 308px;
    /* overflow-x: scroll; */
}

/* Input de longueur courte */
.case-court {
    width: 70px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

/* Input de longueur standard pour un filtre de recherche */
.case-recherche {
    width: 180px;
    border-radius: 5px;
    border-width: 0.5px;
    padding: 8px;
}

/* Cache les flèches haut bas pour les input de type nombre */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

/* Aligne sur une même ligne un label et son input en les collant aux extrémitées (label à gauche et input à droite) */
.div-label-input-horizontal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 19px;
}

/*** CREATION OFFRE ***/
.conteneur-creation-offre {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.conteneur-creation-offre h1 {
    display: flex;
    justify-content: center;
    color: var(--accent-color-1);
}

.rectangle-gris {
    border-radius: 10px;
    background-color: var(--background-color-2);
}

.colonne {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    margin-bottom: auto;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Désactive le changement de la taille des textarea */
textarea {
    resize: none;
}

/* Espace vertical pour les champs de la localisation */
.creation-offre-localisation input {
    margin-bottom: 4px;
}

/* Aligne le numéro et le nom de la rue sur une même ligne */
.creation-offre-localisation #champ-rue {
    width: 197.5px;
}

/* Permet de cacher un élément tout en permettant aux lecteurs d'écrans de pouvoir le lire */
.accessibilite-invisible {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.categories {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 17px;
}

.label-mineure {
    width: 100%;
    margin: 5px;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.label-mineure-offre {
    cursor: default;
}

.categories .label-gene {
    margin-left: 0;
}

.categories .label-s3e {
    margin-right: 0;
}

.carte-gene,
.case-mineure + .label-gene {
    color:#ff0000;
    border-color: #ff0000;
}

.carte-gene,
.case-mineure:checked + .label-gene {
    background-color: #ff0000;
    color: var(--alternate-color);
}

.carte-info,
.case-mineure + .label-info {
    color:#0077ff;
    border-color: #0077ff;
}

.carte-info,
.case-mineure:checked + .label-info {
    background-color: #0077ff;
    color: var(--alternate-color);
}

.carte-btp,
.case-mineure + .label-btp {
    color: #ffa500;
    border-color: #ffa500;
}

.carte-btp,
.case-mineure:checked + .label-btp {
    background-color: #ffa500;
    color: var(--alternate-color);
}

.carte-s3e,
.case-mineure + .label-s3e {
    color:#01a701;
    border-color: #01a701;
}

.carte-s3e,
.case-mineure:checked + .label-s3e {
    background-color: #01a701;
    color: var(--alternate-color);
}

.label-mineure:focus,
:not(.case-mineure:disabled) + .label-mineure:hover,
.case-mineure:focus-within:not(:disabled) + .label-mineure {
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.label-mineure-offre:hover {
    outline: none;
    color: var(--alternate-color);
}

.rectangle-gris label,
.rectangle-gris h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.rectangle-gris p {
    margin-top: 0;
    margin-bottom: 0;
}

#espace-image-offre {
    display: flex;
    width: 280px;
    height: 280px;
    box-sizing: border-box;
    padding: 2px;
}

#image-offre {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.description {
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.case-description {
    border-radius: 5px; 
    border-width: 0.5px;
    padding: 10px;
}

/* Ecran trop fin pour afficher le formulaire en colonnes */
@media (max-width: 1320px) {
    /* Tout mettre dans la même colonne */
    .conteneur-creation-offre .ligne {
        flex-direction: column;
    }

    /* Changer espacement colonnes et description */
    .conteneur-creation-offre .colonne,
    .conteneur-creation-offre .description {
        margin: 19px 10px 0 10px;
    }

    /* Changer taille image */
    #espace-image-offre {
        width: 306px;
        height: 306px;
    }
}

/*** CREATION D'UN ETUDIANT ***/

.colonne {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    margin-bottom: auto;
}

.ligne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteneur-creation-etudiant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur-creation-etudiant h1 {
    color: var(--accent-color-1);
}

@media (max-width: 1400px) {
    .conteneur-creation-etudiant .ligne {
        flex-direction: column;
    }

    .conteneur-creation-etudiant .colonne:not(:first-child) {
        margin-top: 0;
    }
}

/*** CREATION D'UN PILOTE ***/
.conteneur-creation-pilote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur-creation-pilote h1 {
    color: var(--accent-color-1);
}

@media (max-width: 1320px) {
    .conteneur-creation-pilote .ligne {
        flex-direction: column;
    }

    .conteneur-creation-pilote .colonne:not(:first-child) {
        margin-top: 0;
    }
}

/*** MODIFICATION D'UN PILOTE ***/
.conteneur-modification-pilote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur-modification-pilote h1 {
    color: var(--accent-color-1);
}

@media (max-width: 1320px) {
    .conteneur-modification-pilote .ligne {
        flex-direction: column;
    }

    .conteneur-modification-pilote .colonne:not(:first-child) {
        margin-top: 0;
    }
}

/*** MODIFICATION D'UN ETUDIANT ***/
.conteneur-modification-etudiant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteneur-modification-etudiant h1 {
    color: var(--accent-color-1);
}

@media (max-width: 1320px) {
    .conteneur-modification-etudiant .ligne {
        flex-direction: column;
    }

    .conteneur-modification-etudiant .colonne:not(:first-child) {
        margin-top: 0;
    }
}

/*** LISTE DES ENTREPRISES/OFFRES/PILOTES/ETUDIANTS (CODE COMMUN) ***/
.main-affichage {
    display: flex;
    padding: 20px;
}

.block-recherche {
    color: var(--background-color);
    background-color: var(--accent-color-1);
    padding: 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 97px;
}

.block-recherche label,
.block-recherche h3 {
    display: block;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

#block-recherche-offres {
    margin-bottom: 20px;
}

#block-mineure {
    text-align: left;
}

#block-mineure label {
    box-sizing: border-box;
    margin: 5px 0;
}

#block-mineure .case-mineure:not(:checked) + .label-mineure {
    background-color: #d6d6d6;
    border-color: #d6d6d6;
    color: var(--primary-color);
}

.element-recherche {
    margin-bottom: 25px;
}

#recherche-etoile {
    cursor: pointer;
    padding-left: 25px;
}

.recherche-etoiles button {
    margin-left: -2px;
    margin-right: -2px;
    padding: 5px 7px;
    color: var(--accent-color-2);
    background: none;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    /* box-shadow: 0 0 3px; */
}

.recherche-etoiles button:hover {
    background-color: var(--secondary-color);
}

.label-wishlist {
    width: fit-content;
    margin: 0 auto;
    padding: 5px;
    border-radius: 4px;
    color: var(--accent-color-2);
    background-color: var(--background-color);
    cursor: pointer;
}

#conteneur-localisation-filtre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Espace vertical entre les 3 champs horizontaux pour l'adresse */
#conteneur-localisation-filtre input:not(:last-child) {
    margin-bottom: 3px;
}

/* Bouton de validation des filtres */
.bouton-filtrage {
    font-weight: bold;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    border: 1px solid var(--background-color);
    background-color: var(--background-color);
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 18px;
}

.bouton-filtrage:hover {
    box-shadow: 0 0 3px;
    color: var(--background-color);
    background-color: var(--accent-color-2);
}

.bouton-filtrage[type="reset"] {
    margin-top: 6px;
    background-color: rgb(255, 0, 0);
    color: var(--background-color);
}

.affichage-cartes {
    margin-left: 20px;
    width: 100%; /* à inclure selon taille écran */
}

.haut-page-liste-resultats {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#haut-h1 {
    color: var(--accent-color-1);
    font-size: 40px;
    margin-left: 10px;
}

#haut-bouton {
    min-height: 60px;
    height: fit-content;
    margin: auto 0;
    padding: 16px;
    border-color: var(--background-color);
    background-color: var(--accent-color-1);
    color: var(--background-color);
    font-weight: bold;
    font-size: large;
    border-radius: 15px;
    cursor: pointer;
}

.carte {
    margin-bottom: 10px;
}

.info-carte {
    background-color: var(--background-color-2);
    border: 2px solid var(--primary-color);
    padding: 5px;
    border-radius: 8px;
    display: flex;
    width: auto;
    text-align: center;
}

.element-partition {
    margin: 5px;
    width: 100%;
    /* min-width: fit-content; */
    max-width: 100%;
}

.element-partition .element-carte {
    margin-left: 0;
    margin-right: 0;
}

.carte-offre .colonne {
    margin: 0;
}

.element-carte {
    margin: 10px;
    width: 100%;
}

.element-carte-titre {
    font-weight: bold;
    font-size: large;
}

.champ-etoiles {
    background-color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 3px 5px;
    border-radius: 4px;
}

.etoiles-bleues {
    color: var(--accent-color-1);
    margin-top: 0;
}

/* Boutons modification et supression d'une des cartes de résultat */
.boutons-carte {
    display: flex;
    margin-right: 5px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

/* Ecart entre les boutons des cartes */
.boutons-carte span {
    margin: 6px
}

.boutons-partition {
    justify-content:center;
    display: flex;
}

.bouton-carte {
    cursor: pointer;
    color: var(--accent-color-1);
    background-color: var(--background-color);
    border-radius: 100%;
    border: 0px;
    font-size: large;
    height: 30px;
    width: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bouton-carte:hover {
    color: var(--background-color);
    background: var(--accent-color-2);
}

#bouton-wish i {
    padding-top: 6px;
}

.conteneur-pagination-cartes {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

.pagination-cartes {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    column-gap: 12px;
    /* background: var(--background-color); */
    background-color: var(--background-color-2);
    border: 2px solid black;
    /* box-shadow: 0 0 3px; */
    height: 30px;
    width: 300px;
}

.bouton-nav {
  border: none;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: var(--primary-color);
  /* background-color: var(--background-color); */
  border-color: var(--primary-color) ;
  border-radius: 6px;
  cursor: pointer;
  column-gap: 12px;
}

.bouton-nav:hover,
.bouton-nav#pagination-numero-actuel {
    color: var(--background-color);
    background: var(--accent-color-2);
}

.bouton-numero-actuel {
  color: var(--background-color);
  background: var(--accent-color-2);
}

.centrer-icone {
    transform: translate(0, -4%);
}

/* Recentre l'icône d'oeil dans les cartes */
.affichage-cartes .fa-eye {
    transform: translate(-6%, 7%);
}

/* Recentre l'icône de crayon dans les cartes */
.affichage-cartes .fa-pen {
    transform: translate(0, 6%);
}

/* Recentrer l'icône d'étoile dans les cartes */
.affichage-cartes .fa-star {
    transform: translate(-4%, 0);
}

/* Titre et bouton ajouter élément en 2 lignes */
@media (max-width: 480px) {
    .haut-page-liste-resultats {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .haut-page-liste-resultats #haut-h1,
    .haut-page-liste-resultats #haut-bouton {
        margin-bottom: 10px;
    }
}

/* LISTE ENTREPRISES */

/* Filtres en 2 colonnes */
@media (max-width: 900px) {
    /* Aligne verticalement les filtres et le contenu */
    #main-liste-entreprises {
        flex-direction: column;
        align-items: center;
    }

    /* Place les filtres en haut */
    #main-liste-entreprises .block-recherche {
        margin-top: 0;
        width: fit-content;
    }

    /* Supprime le décalage gauche du contenu principal (encadré du titre et des cartes d'entreprise) */
    #main-liste-entreprises .affichage-cartes {
        margin-left: 0;
    }

    /* Filtres en 2 colonnes pour chaque ligne */
    #main-liste-entreprises .barres-recherche,
    #main-liste-entreprises .recherche-etoiles {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #main-liste-entreprises span {
        margin: 12px;
    }
    
    .block-recherche label,
    .block-recherche h3 {
        margin-bottom: 1px;
    }

    #main-liste-entreprises button[type="submit"] {
        margin-top: 15px;
    }
}

/* Filtres en 1 colonne */
@media (max-width: 530px) {
    /* Filtres en 2 colonnes pour chaque ligne */
    #main-liste-entreprises .barres-recherche,
    #main-liste-entreprises .recherche-etoiles {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #block-recherche-entreprises span {
        margin: 0;
    }
}

/* Cache certains des champs des résultats pour gagner de la place */
@media (max-width: 1110px) and (min-width: 700px) {
    .carte-entreprise .div-carte-domaine,
    .carte-entreprise .div-carte-places {
        display: none;
    }
}

/* Cache plus de champs pour gagner de la place */
@media (max-width: 700px) {
    .carte-entreprise .div-carte-domaine,
    .carte-entreprise .div-carte-places,
    .carte-entreprise .div-carte-note-pilote,
    .carte-entreprise .div-carte-note-etudiant {
        display: none;
    }
}

/* LISTE PILOTES */

/* Filtres en 1 colonne */
@media (max-width: 900px) {
    /* Aligne verticalement les filtres et le contenu */
    #main-liste-pilotes {
        flex-direction: column;
        align-items: center;
    }

    /* Place les filtres en haut */
    #main-liste-pilotes .block-recherche {
        margin-top: 0;
        width: fit-content;
    }

    /* Supprime le décalage gauche du contenu principal (encadré du titre et des cartes d'entreprise) */
    #main-liste-pilotes .affichage-cartes {
        margin-left: 0;
    }
}

/* LISTE ETUDIANTS */

/* Filtres en 1 colonne */
@media (max-width: 900px) {
    /* Aligne verticalement les filtres et le contenu */
    #main-liste-etudiants {
        flex-direction: column;
        align-items: center;
    }

    /* Place les filtres en haut */
    #main-liste-etudiants .block-recherche {
        margin-top: 0;
        width: fit-content;
    }

    /* Supprime le décalage gauche du contenu principal (encadré du titre et des cartes d'entreprise) */
    #main-liste-etudiants .affichage-cartes {
        margin-left: 0;
    }

    /* Filtres en 1 colonne */
    #main-liste-etudiants .barres-recherche {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #main-liste-etudiants .block-recherche label,
    #main-liste-etudiants .block-recherche h3 {
        margin-bottom: 1px;
    }

    #main-liste-etudiants button[type="submit"] {
        margin-top: 15px;
    }
}

/* Cache plus de champs pour gagner de la place */
@media (max-width: 560px) {
    .carte-etudiant .div-carte-campus {
        display: none;
    }
}

/* LISTE OFFRES */

/* Titre offre */
.nom-offre-titre {
    font-weight: bold;
    /* text-decoration: underline; */
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 12px;
}

/* Titre de l'offre */
.element-carte-titre {
    font-weight: bold;
    font-size: large;
    margin-bottom: 4px;
}

.element-carte-valeur {
    margin-top: 0;
}

.titre-image-offre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Cadre image liste offres */
.fieldset-image-offre {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    width: fit-content;
    /* height: 280px; */
    /* aspect-ratio: 1; */
    padding: 1px;
    margin: 0;
    box-sizing: border-box;
}

/* Si le fieldset ne contient pas d'image (image invisible)  */
.fieldset-image-offre:has(.image-offre-liste[hidden]),
.fieldset-image-offre:has(.image-offre-liste[src=""]),
.fieldset-image-offre:not(:has(.image-offre-liste)) {
    display: none;
}

/* Image liste offres */
.image-offre-liste {
    /* max-width: 100%; */
    width: 100%;
    max-width: 40vw;
    max-height: 100%;
    /* height: fit-content; */
}

/* Centre la mineure de l'offre */
.carte-mineure-offre {
    display: flex;
    justify-content: center;
    margin-top: -4px;
}

/* Taille de l'étiquette de la mineure */
.label-mineure-offre {
    display: block;
    padding: 6px 10px;
    width: 6ch;
}

.contenu-offre {
    display: flex;
    width: 100%;
}

/* Filtres en 2 colonnes */
@media (max-width: 1100px) {

    /* Aligne verticalement les filtres et le contenu */
    #main-liste-offres {
        flex-direction: column;
        align-items: center;
    }

    /* Place les filtres en haut */
    #main-liste-offres .block-recherche {
        margin-top: 0;
        width: fit-content;
    }

    /* Supprime le décalage gauche du contenu principal (encadré du titre et des cartes d'entreprise) */
    #main-liste-offres .affichage-cartes {
        margin-left: 0;
    }

    /* Filtres en 2 colonnes pour chaque ligne */
    #main-liste-offres .barres-recherche {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    #main-liste-offres span {
        margin: 12px;
    }
    
    #main-liste-offres .block-recherche label,
    #main-liste-offres .block-recherche h3 {
        margin-bottom: 1px;
    }
    
    #main-liste-offres button[type="submit"] {
        margin-top: 15px;
    }
}

/* Filtres en 1 colonne */
@media (max-width: 540px) {
    /* Filtres en 1 colonne */
    #main-liste-offres .barres-recherche {
        flex-direction: column;
    }

    #main-liste-offres span {
        margin: 0;
    }
}

/* Image cachée */
@media (max-width: 700px) {
    /* Filtres en 1 colonne */
    #main-liste-offres .fieldset-image-offre {
        display: none;
    }

    .nom-offre-titre {
        width: auto;
        /* word-break: break-all; */
        font-size: 26px;
        margin-bottom: 0;
    }

    #main-liste-offres .info-carte {
        flex-direction: column;
    }
}

